/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* contact us page css */
.contact-form {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't increase width */
  }
  
  .form-group textarea {
    height: 100px;
  }
  

  
  button:hover {
    background-color: #0056b3;
  }