/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* gallery page css */

.gallery-container {
    display: inline-flex;
    justify-content: center;
    
   
  }
  .gallery {
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .photo1 {
    display: block;
    
  }

  .photo1 img {
    width: 100px;
    height: 200px;
  }
  
  .gallery-text {
    display: block;
    
  }

 