.main-content {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    background-color: rgba(3,194,204,255);
 }
 
 .shirts { 
   padding: 0px;
   display: block;
 }
 
 .text {
 display: block;
 color: black;
 max-width: 400px;
 padding: 0px;
 
 }
 
 .touch{
 display: flex;
 justify-content: center;
 
 
 }
 
 .touch2{
   display: flex;
   justify-content: center;
   background-color: white;
   
   }
 
 .container {
 display: flex;
 width: 100%;
 justify-content: space-between;
 max-width: 1500px;
 gap: 100px;
 }
 
 
 
 
 
 
 .together {
   display: flex;
   padding: 0px;
   justify-content: center;
   margin: 0;
   background-color: transparent;
 }
 
 .description ul{
   background-color: white;
 }
 
 .description li{
   background-color: white;
 }
 
 .description {
   text-align: center;
   width: 500px;
   padding: 100px;
   background-color: white;
 }
 
 
 
 .size2 {
   background-color: white;
 }
 .touch2 {
   background-color: white;
 }

 .subtitle {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 20pt;
    z-index: 5;
    background-color: rgba(3,194,204,255);
    }
    
    .shirts img { 
      width: 100%;
      width: 300px;
      height: 300px;
     
    }
    
    .shirts {
      justify-content: center;
      align-items: center;
      text-align: center;
    }


    .add-to-cart-btn {
  
        color: black; /* Text color */
        border: 2px solid black; /* Border color */
        cursor: pointer; /* Change mouse cursor to pointer */
        transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for the color changes */
        align-items: center;
        text-align: center;
       
        justify-content: center;
      }
      
      /* Styles for when the mouse hovers over the button */
      .add-to-cart-btn:hover {
        background-color: #008080; /* Darker teal background */
        color: white; /* White text color */
        border-color: #006666; /* Darker teal border */
      }
      
      /* Styles for when the button is clicked */
      .add-to-cart-btn:active {
        background-color: #004C4C; /* Even darker teal background */
        color: #CCCCCC; /* Light grey text */
        border-color: #003333; /* Even darker teal border */
      }
      
      .add-to-cart-btn:hover img {
        /* Styles to apply to the image when button is hovered */
        background-color: #008080; /* Darker teal background */
        color: white; /* White text color */
        border-color: #006666; /* Darker teal border */
      }
      
      .add-to-cart-btn:active img {
        /* Styles to apply to the image when button is clicked */
        background-color: #004C4C; /* Even darker teal background */
        color: #CCCCCC; /* Light grey text */
        border-color: #003333; /* Even darker teal border */
      }
      
      .add-to-cart-btn, .add-to-cart-btn img {
        /* Apply transition to both button and image */
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
      }
      
      .basket-icon {
        justify-content: center;
        
        display: flex;
        z-index: 7;
      
      }
      
      .cart img {
        width: 30px;
        height: 30px;
      }
      
      .hover-image {
        transition: transform 0.3s ease-in-out;
        }
        
        .hover-image:hover {
          transform: scale(1.1); /* Image zooms in a bit */
        }
        
        .hover-effect {
          transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
          display: block; /* To prevent inline default behavior */
          margin: 0 auto; /* Optional: for centering the image if needed */
        }
        
        .hover-effect:hover {
          transform: scale(1.1); /* Scale the image to 110% of its original size on hover */
        }
        
        /* Style the image used to trigger the modal */
        #myImg {
          cursor: pointer;
          transition: 0.3s;
        }