* { font-family: 'Pixelify Sans';
  font-size: large;
  
}

.transparent {
  background-color:white;
}

button {
  margin-top: 5px;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

body {
  background-color: rgba(3,194,204,255);
  
}