
/* general css */
* { font-family: 'Fondamento';
  font-size: large;
}

 body {
  margin: 0;
  padding: 0;
  background-image: url('clothes\ rack.jpeg'); /* Replace with your image path */
  background-size: cover; /* Ensures the background image covers the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  height: 100%;
  min-height: 100vh; /* Ensures background covers the full viewport height */
  
}




.logo {
  margin-left: 20px;
  padding: 0;
}




.contact-btn {
  margin-left: 50px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 150px;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.top {
  display: block;
  text-align: center;
}

.disclaimer {
  text-align: center;
  margin-top: 600px;
}